<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head profile="http://gmpg.org/xfn/11">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/modernizr.js"></script>
        <script src="/static/js/jquery.js"></script>

<div align="center"><title> 早苗的空想庭院</title></div>
    </head>

    <body>
        <div id="top">
            <div id="logo"><div align="center"><h1> 早苗的空想庭院 </h1></div></div>
            <div id="menu">
                <ul>
                    <li><a href="/"><h2> home </h2></a></li>
                    <li><a href="/admin"><h2> admin </h2></a></li>
                </ul>
            </div>
        </div>
        {% block content %}{% endblock %}

        <div id="footer">
            <p class="fooleft"> 早苗的空想庭院 is proudly powerd by AprocySanae </p>
        </div>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
